@import 'variables.scss';

// General application layout and styles for the 'containing' components (nav, content, etc)

body {
  margin: 0;
}

// The app layout
.layout-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  min-height: 100vh;
  width: 100%;
  .layout-sidebar {
    align-self: stretch;
    background-color: $tenant-ui-primary-color;
    color: $tenant-ui-text-on-primary;
    min-width: 20em;
  }

  .layout-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .layout-header {
    flex: 0;
    background-color: white;
  }

  .layout-content {
    flex: 1;
    background-color: #e4e4e4;
    padding: 0.5em;
  }
}

// The Login screen layout
.traction-login {
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .logo-bc {
    @extend .logo;
    width: 18em;
  }
  .logo-traction {
    @extend .logo;
    width: 20em;
  }

  .cover-image {
    background-repeat: no-repeat;
    background-size: cover;
    .copyright {
      color: white;
      font-size: 0.5em;
      background-color: rgba($color: #000000, $alpha: 0.5);
      padding: 0 0.5em;
      margin: 1em;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

// Sidebar layout styling

.row {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
