// specific styling for status chips in tables

.p-chip.status-chip {
    border-radius: 5px;
    padding: 0.25rem 1rem 0.25rem 1rem;
    font-weight: bolder;
  }

  .p-chip.status-chip.in-progress {
    background-color: lightsalmon;
  }
  
  .p-chip.status-chip.error {
    background-color: red;
    color: white;
  }