@import 'variables.scss';
// For styling UI pieces that we are adding to the Tenant UI ourselves

// The chip that displays api response statuses etc
.status-chip {
  background-color: $tenant-ui-status-default-background;
  color: $tenant-ui-status-default-color;
  border-radius: 5px;
  padding: 0.25rem 1rem 0.25rem 1rem;
  font-weight: bolder;
  text-align: center;
  > span.text {
    min-width: 80px;
    text-align: center;
  }

  /* green */
  &.active,
  &.accepted,
  &.offer-accepted,
  &.issued,
  &.verified {
    background-color: $tenant-ui-status-green-background;
    color: $tenant-ui-status-green-color;
  }

  /* amber */
  &.pending {
    background-color: $tenant-ui-status-amber-background;
    color: $tenant-ui-status-amber-color;
  }

  /* red */
  &.error,
  &.rejected,
  &.revoked,
  &.offer-not-accepted {
    background-color: $tenant-ui-status-red-background;
    color: $tenant-ui-status-red-color;
  }

  /* blue */
  &.in-progress,
  &.request-sent,
  &.offer-sent,
  &.offer-received {
    background-color: $tenant-ui-status-blue-background;
    color: $tenant-ui-status-blue-color;
  }
}

// Logout button in the menu
.logout-menu-item .p-menuitem-link {
  &,
  &:hover {
    .p-menuitem-text {
      color: $tenant-ui-text-danger !important;
    }
  }
}
