@forward "vue-toastification/dist/index.css";
@use 'variables.scss' as *;
// For overriding the Vue-Toastification library
// https://github.com/Maronato/vue-toastification/blob/main/src/scss/_variables.scss

// Some custom styling
.Vue-Toastification__toast {
  border-left-width: 15px;
  border-left-style: solid;
  border-radius: 5px;
  &.Vue-Toastification__toast--error {
    border-left-color: $tenant-ui-status-red-color;
  }
  &.Vue-Toastification__toast--success {
    border-left-color: #569956;
  }
  &.Vue-Toastification__toast--info {
    border-left-color: #04a9f4;
  }
  &.Vue-Toastification__toast--warning {
    border-left-color: $tenant-ui-status-amber-color;
  }
  .Vue-Toastification__icon {
    font-size: 1.5em;
  }
}
