@use "sass:color";

// Theme variables
$tenant-ui-primary-color: #003366; // Main color blocks
$tenant-ui-text-on-primary: #ffffff;
$tenant-ui-secondary-color: #3c5973; // Buttons, actions
$tenant-ui-accent-color: #fcba19;
$tenant-ui-secondary-active: color.adjust($tenant-ui-secondary-color, $lightness: -10%);
$tenant-ui-shadow: color.adjust($tenant-ui-secondary-color, $lightness: 30%);
$tenant-ui-flat-highlight: #ebeef3;

// General text colors
$tenant-ui-text-success: #336C37;
$tenant-ui-text-danger: #F84949;
$tenant-ui-text-warning: #cf9605;
$tenant-ui-link-color: #3a5b8b;
$tenant-ui-button-link-color: #385A8A;

// Backgrounds/ borders
$tenant-ui-panel-back-color: #F8F9FA;
$tenant-ui-panel-border-color: #DEE2E6;
$tenant-ui-card-info-color: #D7DEE8;
$tenant-ui-card-info-text-color: #003366;

// Status Colors
$tenant-ui-status-default-background: #c8c8c8; // status chip backgrounds
$tenant-ui-status-green-background: #C8E6C9;
$tenant-ui-status-amber-background: #FFD8B2;
$tenant-ui-status-red-background: #FFCDD2;
$tenant-ui-status-blue-background: #BCD7F1;

$tenant-ui-status-default-color: #333333; // status chip text/colours
$tenant-ui-status-green-color: #336C37;
$tenant-ui-status-amber-color: #87623D;
$tenant-ui-status-red-color: #C94040;
$tenant-ui-status-blue-color: #485773;

// Innkeeper 
$innkeeper-ui-primary-color: #30403e;
$innkeeper-ui-text-on-primary: #ffffff; 