@use '../variables.scss' as *;

button {
  &.p-button {
    &:not(.p-button-rounded):not(.p-danger):not(.p-button-text):not(.p-button-link) {
      padding: 0.5rem 1rem;
      background-color: $tenant-ui-secondary-color;
      border-color: $tenant-ui-secondary-color;
      &:hover,
      &:active {
        background-color: $tenant-ui-secondary-active !important;
        border-color: $tenant-ui-secondary-color !important;
      }
      > .p-button-label {
        font-weight: normal;
      }
    }
  }
  &.p-button-rounded,
  &.p-button-text {
    color: $tenant-ui-secondary-color !important;
    > .p-button-label {
      font-weight: normal;
    }
  }
}

// Fixing small bug in PrimeVue for input groups
.field .p-inputgroup button.p-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
