@use "sass:color";
@use '../variables.scss' as *;

// Input Switches
.p-inputswitch {
  &[data-p-highlight="true"] .p-inputswitch-slider {
    background: color.adjust($tenant-ui-status-green-background, $lightness: -20%);;
    &::before {
      background-color: white !important;
    }
  }
  &[data-p-highlight="false"] .p-inputswitch-slider {
    background: color.adjust($tenant-ui-status-red-background, $lightness: -20%);
  }
  &:hover {
    &[data-p-highlight="true"] .p-inputswitch-slider {
      background: color.adjust($tenant-ui-status-green-background, $lightness: -40%) !important;
    }
    &[data-p-highlight="false"] .p-inputswitch-slider {
      background: color.adjust($tenant-ui-status-red-background, $lightness: -40%) !important;
    }
  }
}
