{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "plugin:vue/vue3-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended",
    "@vue/prettier",
    "@vue/eslint-config-prettier",
    "plugin:@intlify/vue-i18n/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "plugins": [],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-empty-function": "off",
    "vue/multi-word-component-names": "off",
    "@intlify/vue-i18n/no-missing-keys": "error",
    "@intlify/vue-i18n/no-unused-keys": "warn",
    "@intlify/vue-i18n/no-raw-text": [
      "error",
      {
        "extension": [
          ".ts",
          ".vue"
        ]
      }
    ]
  },
  "settings": {
    "vue-i18n": {
      "localeDir": "./src/locales/*.json",
      "messageSyntaxVersion": "^9.2.2"
    }
  }
}