"""
    Aries Cloud Agent

    No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)  # noqa: E501

    The version of the OpenAPI document: v0.7.2
    Generated by: https://openapi-generator.tech
"""


import re  # noqa: F401
import sys  # noqa: F401

from acapy_client.api_client import ApiClient, Endpoint as _Endpoint
from acapy_client.model_utils import (  # noqa: F401
    check_allowed_values,
    check_validations,
    date,
    datetime,
    file_type,
    none_type,
    validate_and_convert_types,
)
from acapy_client.model.conn_record import ConnRecord
from acapy_client.model.invitation_create_request import InvitationCreateRequest
from acapy_client.model.invitation_message import InvitationMessage
from acapy_client.model.invitation_record import InvitationRecord


class OutOfBandApi(object):
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client
        self.out_of_band_create_invitation_post_endpoint = _Endpoint(
            settings={
                "response_type": (InvitationRecord,),
                "auth": ["AuthorizationHeader"],
                "endpoint_path": "/out-of-band/create-invitation",
                "operation_id": "out_of_band_create_invitation_post",
                "http_method": "POST",
                "servers": None,
            },
            params_map={
                "all": [
                    "auto_accept",
                    "multi_use",
                    "body",
                ],
                "required": [],
                "nullable": [],
                "enum": [],
                "validation": [],
            },
            root_map={
                "validations": {},
                "allowed_values": {},
                "openapi_types": {
                    "auto_accept": (bool, str,),
                    "multi_use": (bool, str,),
                    "body": (InvitationCreateRequest,),
                },
                "attribute_map": {
                    "auto_accept": "auto_accept",
                    "multi_use": "multi_use",
                },
                "location_map": {
                    "auto_accept": "query",
                    "multi_use": "query",
                    "body": "body",
                },
                "collection_format_map": {},
            },
            headers_map={
                "accept": ["application/json"],
                "content_type": [],
            },
            api_client=api_client,
        )
        self.out_of_band_receive_invitation_post_endpoint = _Endpoint(
            settings={
                "response_type": (ConnRecord,),
                "auth": ["AuthorizationHeader"],
                "endpoint_path": "/out-of-band/receive-invitation",
                "operation_id": "out_of_band_receive_invitation_post",
                "http_method": "POST",
                "servers": None,
            },
            params_map={
                "all": [
                    "alias",
                    "auto_accept",
                    "mediation_id",
                    "use_existing_connection",
                    "body",
                ],
                "required": [],
                "nullable": [],
                "enum": [],
                "validation": [],
            },
            root_map={
                "validations": {},
                "allowed_values": {},
                "openapi_types": {
                    "alias": (str,),
                    "auto_accept": (bool,),
                    "mediation_id": (str,),
                    "use_existing_connection": (bool,),
                    "body": (InvitationMessage,),
                },
                "attribute_map": {
                    "alias": "alias",
                    "auto_accept": "auto_accept",
                    "mediation_id": "mediation_id",
                    "use_existing_connection": "use_existing_connection",
                },
                "location_map": {
                    "alias": "query",
                    "auto_accept": "query",
                    "mediation_id": "query",
                    "use_existing_connection": "query",
                    "body": "body",
                },
                "collection_format_map": {},
            },
            headers_map={
                "accept": ["application/json"],
                "content_type": [],
            },
            api_client=api_client,
        )

    def out_of_band_create_invitation_post(self, **kwargs):
        """Create a new connection invitation  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.out_of_band_create_invitation_post(async_req=True)
        >>> result = thread.get()


        Keyword Args:
            auto_accept (bool): Auto-accept connection (defaults to configuration). [optional]
            multi_use (bool): Create invitation for multiple use (default false). [optional]
            body (InvitationCreateRequest): [optional]
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            async_req (bool): execute request asynchronously

        Returns:
            InvitationRecord
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs["async_req"] = kwargs.get("async_req", False)
        kwargs["_return_http_data_only"] = kwargs.get("_return_http_data_only", True)
        kwargs["_preload_content"] = kwargs.get("_preload_content", True)
        kwargs["_request_timeout"] = kwargs.get("_request_timeout", None)
        kwargs["_check_input_type"] = kwargs.get("_check_input_type", True)
        kwargs["_check_return_type"] = kwargs.get("_check_return_type", True)
        kwargs["_spec_property_naming"] = kwargs.get("_spec_property_naming", False)
        kwargs["_content_type"] = kwargs.get("_content_type")
        kwargs["_host_index"] = kwargs.get("_host_index")
        return self.out_of_band_create_invitation_post_endpoint.call_with_http_info(
            **kwargs
        )

    def out_of_band_receive_invitation_post(self, **kwargs):
        """Receive a new connection invitation  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.out_of_band_receive_invitation_post(async_req=True)
        >>> result = thread.get()


        Keyword Args:
            alias (str): Alias for connection. [optional]
            auto_accept (bool): Auto-accept connection (defaults to configuration). [optional]
            mediation_id (str): Identifier for active mediation record to be used. [optional]
            use_existing_connection (bool): Use an existing connection, if possible. [optional]
            body (InvitationMessage): [optional]
            _return_http_data_only (bool): response data without head status
                code and headers. Default is True.
            _preload_content (bool): if False, the urllib3.HTTPResponse object
                will be returned without reading/decoding response data.
                Default is True.
            _request_timeout (int/float/tuple): timeout setting for this request. If
                one number provided, it will be total request timeout. It can also
                be a pair (tuple) of (connection, read) timeouts.
                Default is None.
            _check_input_type (bool): specifies if type checking
                should be done one the data sent to the server.
                Default is True.
            _check_return_type (bool): specifies if type checking
                should be done one the data received from the server.
                Default is True.
            _spec_property_naming (bool): True if the variable names in the input data
                are serialized names, as specified in the OpenAPI document.
                False if the variable names in the input data
                are pythonic names, e.g. snake case (default)
            _content_type (str/None): force body content-type.
                Default is None and content-type will be predicted by allowed
                content-types and body.
            _host_index (int/None): specifies the index of the server
                that we want to use.
                Default is read from the configuration.
            async_req (bool): execute request asynchronously

        Returns:
            ConnRecord
                If the method is called asynchronously, returns the request
                thread.
        """
        kwargs["async_req"] = kwargs.get("async_req", False)
        kwargs["_return_http_data_only"] = kwargs.get("_return_http_data_only", True)
        kwargs["_preload_content"] = kwargs.get("_preload_content", True)
        kwargs["_request_timeout"] = kwargs.get("_request_timeout", None)
        kwargs["_check_input_type"] = kwargs.get("_check_input_type", True)
        kwargs["_check_return_type"] = kwargs.get("_check_return_type", True)
        kwargs["_spec_property_naming"] = kwargs.get("_spec_property_naming", False)
        kwargs["_content_type"] = kwargs.get("_content_type")
        kwargs["_host_index"] = kwargs.get("_host_index")
        return self.out_of_band_receive_invitation_post_endpoint.call_with_http_info(
            **kwargs
        )
