ingressSuffix: -dev.apps.silver.devops.gov.bc.ca
image:
  tag: "0.2.14"
  pullPolicy: Always
traction:
  apiEndpoint: https://pr-00-traction-tenant-proxy-dev.apps.silver.devops.gov.bc.ca
  tenantProxyEndpoint: https://pr-00-traction-tenant-proxy-dev.apps.silver.devops.gov.bc.ca
oidc:
  active: true
  showInnkeeperAdminLogin: true
  authority: https://dev.loginproxy.gov.bc.ca/auth/realms/digitaltrust-nrm
  jwksUri: https://dev.loginproxy.gov.bc.ca/auth/realms/digitaltrust-nrm/protocol/openid-connect/certs
ariesDetails:
  ledgerDescription: "bcovrin-test"
smtp:
  server: apps.smtp.gov.bc.ca
  port: 25
  senderAddress: DoNotReplyTractionPR@gov.bc.ca
  innkeeperInbox: lucas.o'neil@gov.bc.ca
resources:
  limits:
    cpu: 200m
    memory: 820Mi
  requests:
    cpu: 120m
    memory: 400Mi
ingress:
  annotations:
    route.openshift.io/termination: edge
networkPolicy:
  enabled: true
  ingress:
    enabled: true
    namespaceSelector:
      network.openshift.io/policy-group: ingress
