aiohttp~=3.7.4
alembic==1.7.5
asyncpg==0.24.0
fastapi==0.72.0
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.3
Mako==1.1.6
MarkupSafe==2.0.1
passlib==1.7.4
psycopg2-binary==2.9.2
pydantic==1.9.0
pydantic-factories==1.2.5
SQLAlchemy==1.4.27
sqlalchemy2-stubs==0.0.2a19
sqlmodel==0.0.6
starlette==0.17.1
uvicorn[standard]==0.17.0
websockets==10.2
