apiVersion: v2
name: traction-tenant-ui
description: The Traction Tenant UI allows tenants to manage their agent.
type: application
version: 0.0.2
appVersion: 0.2.14
home: "https://github.com/bcgov/traction"
sources: ["https://github.com/bcgov/traction"]
maintainers:
  - email: tools@usingtechnolo.gy
    name: usingtechnology
    url: https://github.com/usingtechnology
  - email: jason.syrotuck@nttdata.com
    name: Jsyro
    url: https://github.com/Jsyro
  - email: emiliano.sune@quartech.com
    name: esune
    url: https://github.com/esune
