# Default values for helm-chart.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  nameOverride: ""
  # global.fullnameOverride and postgresql.fullnameOverride must be changed (and match!!!) if deploying multiple instances to the same namespace
  # the postgresql chart creates secrets and pvcs related to the fullname and will be identical without the override.
  # use the global.fullnameOverride to install a different named helm instance and will affect naming of all objects and routes for that chart.
  # for pull requests, can set to something like pr-NN-tenant-ui.
  fullnameOverride: "tenant-ui"
  # The name of the sibling Traction deployment so that the tenant UI can reference Traction/acapy config and secrets
  tractionNameOverride: "traction"

  # -- Domain suffix to be used for default hostpaths in ingress
  # override in different environments, or for each app
  # --set global.ingressSuffix
  ingressSuffix: -prod.apps.silver.devops.gov.bc.ca

  persistence:
    # -- If true, the Postgres chart is deployed
    deployPostgres: true

tenant_ui:
  image:
    tag: "ghcr.io/bcgov/traction-tenant-ui:sha-5fdc664"
    version: 'sha-5fdc664'
    buildtime: '2022-08-04T22:16:25.869Z'
    pullPolicy: IfNotPresent
  ux:
    appTitle: 'Traction Tenant Console'
    appInnkeeperTitle: 'Traction Innkeeper Console'
    sidebarTitle: 'Traction'
    copyright: ''
    owner: ''
    coverImageCopyright: 'Photo by Kristoffer Fredriksson on StockSnap'

  oidc:
    showInnkeeperAdminLogin: true
    active: true
    authority: ''
    client:  'innkeeper-frontend'
    label: 'IDIR'
    jwksUri: ''
    realm: 'Traction'
    roleName: 'innkeeper'

  ariesDetails:
    ledgerDescription: 'bcovrin-test'

  smtp:
    server: apps.smtp.gov.bc.ca
    port: 25
    senderAddress: ''
    innkeeperInbox: ''

  traction_api:
    # this is the private endpoint
    endpoint: http://traction-tenant-proxy:8032

  tenant_proxy:
    # this is the private endpoint
    endpoint: http://traction-tenant-proxy:8032

  serviceAccount:
    # -- Specifies whether a service account should be created
    create: false
    # -- Annotations to add to the service account
    annotations: {}
    # -- The name of the service account to use. If not set and create is true, a name is generated using the fullname template
    name: ""

  imagePullSecrets: []

  podAnnotations: {}

  podSecurityContext: {}
    # fsGroup: 2000

  securityContext: {}
    # capabilities:
    #   drop:
    #   - ALL
    # readOnlyRootFilesystem: true
    # runAsNonRoot: true
    # runAsUser: 1000

  service:
    type: ClusterIP
    port: 5000

  openshift:
    route:
      enabled: true
      path: "/"
      targetPort: http
      timeout: 2m
      tls:
        enabled: true
        insecureEdgeTerminationPolicy: None
        termination: edge
      wildcardPolicy: None

  resources:
    # We usually recommend not to specify default resources and to leave this as a conscious
    # choice for the user. This also increases chances charts run on environments with little
    # resources, such as Minikube. If you do want to specify resources, uncomment the following
    # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
    limits:
      cpu: 600m
      memory: 2600Mi
    requests:
      cpu: 300m
      memory: 1300Mi

  nodeSelector: {}

  tolerations: []

  affinity: {}

