global:
  fullnameOverride: 'tenant-ui-dts'
  tractionNameOverride: "traction-dts"
  ingressSuffix: -dev.apps.silver.devops.gov.bc.ca
  nsp:
    enabled: true
tenant_ui:
  image:
    tag: 'ghcr.io/bcgov/traction-tenant-ui:sha-360c2f3'
    version: 'sha-360c2f3'
    buildtime: '2023-02-22T06:39:56.325Z'
    pullPolicy: Always
  traction_api:
    endpoint: https://traction-dts-tenant-proxy-dev.apps.silver.devops.gov.bc.ca
  tenant_proxy:
    endpoint: https://traction-dts-tenant-proxy-dev.apps.silver.devops.gov.bc.ca
  oidc:
    active: true
    showInnkeeperAdminLogin: true
    authority: https://dev.loginproxy.gov.bc.ca/auth/realms/digitaltrust-nrm
    jwksUri: https://dev.loginproxy.gov.bc.ca/auth/realms/digitaltrust-nrm/protocol/openid-connect/certs
  ariesDetails:
    ledgerDescription: 'bcovrin-test'
  smtp:
    server: apps.smtp.gov.bc.ca
    port: 25
    senderAddress: DoNotReplyTractionPR@gov.bc.ca
    innkeeperInbox: lucas.oneil@gov.bc.ca
  resources:
    limits:
      cpu: 200m
      memory: 820Mi
    requests:
      cpu: 120m
      memory: 400Mi