apiVersion: v2
name: traction
description: The Traction service allows organizations to verify, hold, and issue verifiable credentials. The Traction Tenant UI allows tenants to manage their agent.
type: application
version: 0.3.5
appVersion: 1.1.0
home: "https://github.com/bcgov/traction"
sources: ["https://github.com/bcgov/traction"]
icon: "https://github.com/bcgov/traction/raw/main/docs/assets/readme-logo.png"
maintainers:
  - email: ivan.polchenko@quartech.com
    name: i5okie
    url: https://github.com/i5okie
  - email: tools@usingtechnolo.gy
    name: usingtechnology
    url: https://github.com/usingtechnology
  - email: jason.syrotuck@nttdata.com
    name: Jsyro
    url: https://github.com/Jsyro
  - email: emiliano.sune@quartech.com
    name: esune
    url: https://github.com/esune
dependencies:
  - name: postgresql
    version: 15.5.38
    repository: https://charts.bitnami.com/bitnami/
    condition: postgresql.enabled
  - name: common
    repository: "https://charts.bitnami.com/bitnami"
    tags:
      - bitnami-common
    version: 2.x.x
