apiVersion: v2
name: traction
description: The Traction service allows organizations to verify, hold, and issue verifiable credentials.
type: application
version: 0.0.4
appVersion: 0.0.1
home: "https://github.com/hyperledger-labs/business-partner-agent-chart"
sources: ["https://github.com/hyperledger-labs/business-partner-agent-chart"]
engine: gotpl
maintainers:
  - email: tools@usingtechnolo.gy
    name: usingtechnology
    url: https://github.com/usingtechnology
  - email: jason.syrotuck@nttdata.com
    name: Jsyro
    url: https://github.com/Jsyro
dependencies:
  - name: postgresql
    version: 10.16.2
    repository: https://charts.bitnami.com/bitnami/
    condition: persistence.deployPostgres
