# ------------------------------------------------------------
# Traction Services
# ------------------------------------------------------------

# How the Traction Service is seen from the outside world, either: ip address or dns name
# The hostname will also be registered as part of the profile endpoint on the ledger
TRACTION_SERVICE_HOST=localhost
TRACTION_SERVICE_PORT=5100
TRACTION_ENDPOINT=http://host.docker.internal:5100

WEB_CONCURRENCY=2

DEFAULT_RETRY_ATTEMPTS=20
DEFAULT_PAUSE_BETWEEN_ATTEMPTS=2

TRACTION_ENV=local

# ------------------------------------------------------------
# ACA-PY
# ------------------------------------------------------------

AGENT_NAME="Traction Agent"

# Run in read only mode
#ACAPY_READ_ONLY_MODE=--read-only-ledger

ACAPY_GENESIS_URL=http://test.bcovrin.vonx.io/genesis

# To support revocation set the 2 URLs of an existing tails server
ACAPY_TAILS_BASE_URL=--tails-server-base-url https://tails-dev.vonx.io
ACAPY_TAILS_UPLOAD_URL=--tails-server-upload-url https://tails-dev.vonx.io

#
# Identity
#

# Enter wallet seed here:
ACAPY_SEED=YjieiZiyoHaMza3sxXmgBYjBQ7L1er62


#
# Security
#

# Protect all admin endpoints with the provided API key
# Development setup (do not use in production!)
#ACAPY_ADMIN_CONFIG=--admin-insecure-mode
# Production setup (change the key to a generated secret one)
ACAPY_ADMIN_URL_API_KEY=change-me
ACAPY_ADMIN_CONFIG=--admin-api-key ${ACAPY_ADMIN_URL_API_KEY}
ACAPY_WEBHOOK_URL_API_KEY=0e6eb09282024d0d4ccf8c44b9abea8b77806a7a353405fcde6a175c89fecbbb

TRACTION_HOST_URL=http://traction-api:5000
TRACTION_WEBHOOK_URL=http://traction-api:5000/webhook#${ACAPY_WEBHOOK_URL_API_KEY}
TRACTION_TENANT_WEBHOOK_URL=http://traction-api:5000/webhook/tenant

# JWT SECRET
# used to generate jwt for sub wallets
JWT_SECRET=change-me

#
# Connectivity
#

# Exposed service ports
ACAPY_HTTP_PORT=8030
ACAPY_ADMIN_PORT=8031
# Public endpoint URL that is registered on the ledger
ACAPY_ENDPOINT=http://traction-agent:8030
ACAPY_ADMIN_URL=http://traction-agent:8031

#
# Wallet Storage
#

ACAPY_WALLET_TYPE=postgres_storage
ACAPY_WALLET_DATABASE=traction-wallet
ACAPY_WALLET_ENCRYPTION_KEY=key

# ------------------------------------------------------------
# Postgres Storage
# ------------------------------------------------------------

POSTGRESQL_HOST=traction-db
POSTGRESQL_PORT=5432
POSTGRESQL_USER=postgres
POSTGRESQL_PASSWORD=postgresPass

# ---------------------
# Service DB Connection Info
# ---------------------

## traction
TRACTION_PSQL_DB=traction
TRACTION_PSQL_ADMIN=tractionadminuser
TRACTION_PSQL_ADMIN_PWD=tractionadminPass
TRACTION_PSQL_USER=tractionuser
TRACTION_PSQL_USER_PWD=tractionPass

TRACTION_API_ADMIN_USER=innkeeper
TRACTION_API_ADMIN_KEY=change-me

# ------------------------------------------------------------
# ------------------------------------------------------------
# Endorser Configuration
# ------------------------------------------------------------
# ------------------------------------------------------------

##SEED GENERATED THE DID 
ACAPY_ENDORSER_SEED=YjieiZiyoHaMza3sxzmgBYjBQ7L1er62
ACAPY_ENDORSER_PUBLIC_DID=SVfHGCEEvEFmpBPcxgNqRR

# ------------------------------------------------------------
# Endorser Services
# ------------------------------------------------------------

ENDORSER_SERVICE_HOST=localhost
ENDORSER_SERVICE_PORT=5300
ENDORSER_ENDPOINT=http://host.docker.internal:5300

ACAPY_ENDORSER_ADMIN_PORT=9031
ACAPY_ENDORSER_HTTP_PORT=9030
ACAPY_ENDORSER_ENDPOINT=http://host.docker.internal:9030

ENDORSER_AGENT_NAME="Endorser Agent"
ENDORSER_CONNECTION_ALIAS=endorser

# Protect all admin endpoints with the provided API key
# Development setup (do not use in production!)
#ENDORSER_ACAPY_ADMIN_CONFIG=--admin-insecure-mode
# Production setup (change the key to a generated secret one)
ENDORSER_ACAPY_ADMIN_URL_API_KEY=change-me
ENDORSER_ACAPY_ADMIN_CONFIG=--admin-api-key ${ACAPY_ADMIN_URL_API_KEY}
ENDORSER_ACAPY_WEBHOOK_URL_API_KEY=0e6eb09282024d0d4ccf8c44b9abea8b77806a7a353405fcde6a175c89fecbbb

ENDORSER_WEBHOOK_URL=http://endorser-api:5000/webhook#${ENDORSER_ACAPY_WEBHOOK_URL_API_KEY}

ENDORSER_ACAPY_ADMIN_URL=http://endorser-agent:9031

ENDORSER_ACAPY_WALLET_TYPE=postgres_storage
ENDORSER_ACAPY_WALLET_DATABASE=endorser-wallet
ENDORSER_ACAPY_WALLET_ENCRYPTION_KEY=key

ENDORSER_POSTGRESQL_HOST=endorser-db
ENDORSER_POSTGRESQL_PORT=5433
ENDORSER_POSTGRESQL_USER=postgres
ENDORSER_POSTGRESQL_PASSWORD=postgresPass

## endorser
ENDORSER_PSQL_DB=traction
ENDORSER_PSQL_ADMIN=tractionadminuser
ENDORSER_PSQL_ADMIN_PWD=tractionadminPass
ENDORSER_PSQL_USER=tractionuser
ENDORSER_PSQL_USER_PWD=tractionPass

ENDORSER_API_ADMIN_USER=endorser
ENDORSER_API_ADMIN_KEY=change-me


# ------------------------------------------------------------
# ------------------------------------------------------------
# SHOWCASE Configuration
# ------------------------------------------------------------
# ------------------------------------------------------------

SHOWCASE_SERVICE_HOST=localhost
SHOWCASE_SERVICE_PORT=5200
SHOWCASE_ENDPOINT=http://host.docker.internal:5200
# where in the docker image are the static files (vue app) found?
SHOWCASE_STATIC_FILES=/traction/static
# optional CORS urls for the showcase API to allow, can set for local Frontend development in your .env
SHOWCASE_CORS_URLS=

# ------------------------------------------------------------
# SHOWCASE Postgres Storage
# ------------------------------------------------------------

SHOWCASE_POSTGRESQL_HOST=showcase-db
SHOWCASE_POSTGRESQL_PORT=6543
SHOWCASE_POSTGRESQL_USER=postgres
SHOWCASE_POSTGRESQL_PASSWORD=postgresPass

# ---------------------
# SHOWCASE Service DB Connection Info
# ---------------------

##traction
SHOWCASE_PSQL_DB=showcase
SHOWCASE_PSQL_ADMIN=showcaseadminuser
SHOWCASE_PSQL_ADMIN_PWD=showcaseadminPass
SHOWCASE_PSQL_USER=showcaseuser
SHOWCASE_PSQL_USER_PWD=showcasePass
