ingressSuffix: -dev.apps.silver.devops.gov.bc.ca
acapy:
  image:
    pullPolicy: Always
  secret:
    adminApiKey:
      generated: false
      value: "change-me"
    pluginInnkeeper:
      generated: false
      walletkey: "change-me"
      tenantid: "innkeeper"
  ledgers.yml:
    - id: bcovrin-test
      is_production: true
      is_write: true
      genesis_url: 'http://test.bcovrin.vonx.io/genesis'
      endorser_did: 'DfQetNSm7gGEHuzfUvpfPn'
      endorser_alias: 'bcovrin-test-endorser'
  argfile.yml:
    wallet-name: default
  plugin-config.yml:
    traction_innkeeper:
      innkeeper_wallet:
        print_key: true
        print_token: true
        connect_to_endorser:
          - endorser_alias: bcovrin-test-endorser
            ledger_id: bcovrin-test
        create_public_did:
          - bcovrin-test
      reservation:
        expiry_minutes: 2880
        auto_approve: true
        auto_issuer: true
  resources:
    limits:
      cpu: 200m
      memory: 300Mi
    requests:
      cpu: 120m
      memory: 128Mi
  networkPolicy:
    enabled: true
    ingress:
      enabled: true
      namespaceSelector:
        network.openshift.io/policy-group: ingress
tenant_proxy:
  image:
    pullPolicy: Always
  networkPolicy:
    enabled: true
    ingress:
      enabled: true
      namespaceSelector:
        network.openshift.io/policy-group: ingress
ui:
  showOIDCReservationLogin: false
  quickConnectEndorserName: "bcovrin-test-endorser"
  image:
    pullPolicy: Always
  oidc:
    active: true
    authority: https://dev.loginproxy.gov.bc.ca/auth/realms/digitaltrust-nrm
    jwksUri: https://dev.loginproxy.gov.bc.ca/auth/realms/digitaltrust-nrm/protocol/openid-connect/certs
    reservationForm: >-
      {
        "formDataSchema": {
          "type": "object",
          "properties": {
            "fullName": {
              "type": "string"
            },
            "phoneNumber": {
              "type": "string"
            },
            "tenantReason": {
              "type": "string"
            }
          },
          "required": []
        },
        "formUISchema": {
          "type": "VerticalLayout",
          "elements": [
            {
              "type": "Control",
              "scope": "#/properties/phoneNumber",
              "label": "Phone / Mobile"
            },
            {
              "type": "Control",
              "scope": "#/properties/fullName"
            },
            {
              "type": "Control",
              "scope": "#/properties/tenantReason",
              "options": {
                "multi": true
              }
            }
          ]
        }
      }
  ariesDetails:
    ledgerDescription: "bcovrin-test"
  smtp:
    server: apps.smtp.gov.bc.ca
    port: 25
    senderAddress: DoNotReplyTractionPR@gov.bc.ca
    innkeeperInbox: lucas.o'neil@gov.bc.ca
  resources:
    limits:
      cpu: 300m
      memory: 128Mi
    requests:
      cpu: 10m
      memory: 80Mi
  ingress:
    annotations:
      route.openshift.io/termination: edge
  networkPolicy:
    enabled: true
    ingress:
      enabled: true
      namespaceSelector:
        network.openshift.io/policy-group: ingress
ingress:
  annotations:
    route.openshift.io/termination: edge
postgresql:
  primary:
    resources:
      limits:
        cpu: 200m
        memory: 128Mi
      requests:
        cpu: 100m
        memory: 50Mi
