name: Deploy Showcase
on:
  workflow_dispatch:
    inputs:
      deploy_env:
        description: 'Target (github) environment for deployment: development, test, production'
        required: true
        default: 'development'
      ref:
        description: 'The branch, tag or SHA to checkout'
        required: true
        default: 'develop'
jobs:

  build_showcase:
    name: 'Build Traction Showcase'
    runs-on: ubuntu-20.04
    steps:      
      - uses: actions/checkout@v2    
        with:
          ref: ${{ github.event.inputs.ref }}    
      
      - name: Build service
        uses: ./.github/actions/build_service
        id: builder
        with:
          context: './services/showcase'
          image_name: ${{ github.repository_owner}}/traction-showcase
          registry: ghcr.io
          registry_username: ${{ github.repository_owner}}          
          registry_password: ${{ secrets.GITHUB_TOKEN }}
    
    outputs:
      image_tag: ${{ steps.builder.outputs.image_tag }}
      image_version: ${{ steps.builder.outputs.image_version }}
      buildtime: ${{ steps.builder.outputs.buildtime }}

  deploy:
    name: Deploy Showcase
    environment: ${{ github.event.inputs.deploy_env }}
    runs-on: ubuntu-20.04
    needs: 
      - build_showcase
    if: ${{ always() && contains(needs.*.result, 'success') && !(contains(needs.*.result, 'failure')) }}
    
    steps:  
      - uses: actions/checkout@v2  

      - name: Authenticate and set context
        uses: redhat-actions/oc-login@v1
        with:
          openshift_server_url: ${{ secrets.OPENSHIFT_SERVER }}
          openshift_token: ${{ secrets.OPENSHIFT_TOKEN }}
          certificate_authority_data: ${{ secrets.OPENSHIFT_CA_CRT }}
          namespace: ${{ secrets.OPENSHIFT_NAMESPACE }}

      - name: Run Showcase PR Helm 
        run: |
          yq eval '.showcase.image.tag = "${{ needs.build_showcase.outputs.image_tag }}"' -i ./charts/showcase/values-${{ github.event.inputs.deploy_env }}.yaml
          yq eval '.showcase.image.version = "${{ needs.build_showcase.outputs.image_version }}"' -i ./charts/showcase/values-${{ github.event.inputs.deploy_env }}.yaml
          yq eval '.showcase.image.buildtime = "${{ needs.build_showcase.outputs.buildtime }}"' -i ./charts/showcase/values-${{ github.event.inputs.deploy_env }}.yaml
          yq eval '.showcase.traction_api.endpoint = "${{ secrets.TRACTION_ENDPOINT }}"' -i ./charts/showcase/values-${{ github.event.inputs.deploy_env }}.yaml
          helm upgrade -f ./charts/showcase/values.yaml -f ./charts/showcase/values-${{ github.event.inputs.deploy_env }}.yaml showcase ./charts/showcase --install --wait
