name: Docker Image CI

on:
  workflow_dispatch:
    inputs:
      image_name: 
        required: false
        default: 'traction-plugins-acapy'
jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner}}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Prepare docker tags for image
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/${{ github.repository_owner}}${{ github.event.inputs.image_name }}
          tags: type=sha

      - name: Build and push image
        id: builder
        uses: docker/build-push-action@v3
        with:
          context: './plugins'
          file: './plugins/docker/Dockerfile'
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}