name: Install/upgrade PR Instance
on:
  pull_request:
    branches:
      - develop
    paths:
      - 'services/traction/**'
      - 'services/showcase/**'
      - 'charts/traction/**'
      - 'charts/showcase/**'
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
      
jobs:

  ready:
    name: 'Install if ready for review'
    runs-on: ubuntu-latest
    outputs:
      deploy: ${{ steps.ready_for_review.true_false }}
      build: ${{ steps.ready_for_review.bcgov_true_false }}
    steps:
      - id: ready_for_review
        run: |
          echo "::set-output name=true_false::${{ toJSON(github.event.pull_request.draft != true && github.repository_owner == 'bcgov') }}"
          echo "::set-output name=bcgov_true_false::${{ toJSON(github.repository_owner == 'bcgov') }}"
        
  build_api:
    name: 'Build Traction API'
    runs-on: ubuntu-20.04
    if: ${{ always() && fromJSON(needs.ready.outputs.build) == true }}
    needs: 
      - ready
    steps:      
      - uses: actions/checkout@v2        
      - name: Build service
        uses: ./.github/actions/build_service
        id: builder
        with:
          context: './services/traction'
          image_name: ${{ github.repository_owner}}/traction-api
          registry: ghcr.io
          registry_username: ${{ github.repository_owner}}
          registry_password: ${{ secrets.GITHUB_TOKEN }}
    outputs:
      image_tag: ${{ steps.builder.outputs.image_tag }}
      image_version: ${{ steps.builder.outputs.image_version }}
      buildtime: ${{ steps.builder.outputs.buildtime }}

  build_showcase:
    name: 'Build Traction Showcase'
    runs-on: ubuntu-20.04
    needs: 
      - ready
    if: ${{ always() && fromJSON(needs.ready.outputs.build) == true }}
    steps:      
      - uses: actions/checkout@v2        
      - name: Build service
        uses: ./.github/actions/build_service
        id: builder
        with:
          context: './services/showcase'
          image_name: ${{ github.repository_owner}}/traction-showcase
          registry: ghcr.io
          registry_username: ${{ github.repository_owner}}
          registry_password: ${{ secrets.GITHUB_TOKEN }}
    outputs:
      image_tag: ${{ steps.builder.outputs.image_tag }}
      image_version: ${{ steps.builder.outputs.image_version }}
      buildtime: ${{ steps.builder.outputs.buildtime }}

  deploy:
    name: Deploy PR
    environment: development
    runs-on: ubuntu-20.04
    needs: 
      - ready
      - build_api
      - build_showcase
    if: ${{ always() && (fromJSON(needs.ready.outputs.deploy) == true) && !(contains(needs.*.result, 'failure')) }}

    steps:  
      - uses: actions/checkout@v2  

      - name: Authenticate and set context
        uses: redhat-actions/oc-login@v1
        with:
          openshift_server_url: ${{ secrets.OPENSHIFT_SERVER }}
          openshift_token: ${{ secrets.OPENSHIFT_TOKEN }}
          certificate_authority_data: ${{ secrets.OPENSHIFT_CA_CRT }}
          namespace: ${{ secrets.OPENSHIFT_NAMESPACE }}

      - name: Run Traction PR Helm
        run: |
          yq eval '.global.fullnameOverride = "pr-${{ github.event.number }}-traction"' -i ./charts/traction/values-pr.yaml
          yq eval '.postgresql.fullnameOverride = "pr-${{ github.event.number }}-traction"' -i ./charts/traction/values-pr.yaml
          yq eval '.traction_api.image.tag = "${{ needs.build_api.outputs.image_tag }}"' -i ./charts/traction/values-pr.yaml
          yq eval '.traction_api.image.version = "${{ needs.build_api.outputs.image_version }}"' -i ./charts/traction/values-pr.yaml
          yq eval '.traction_api.image.buildtime = "${{ needs.build_api.outputs.buildtime }}"' -i ./charts/traction/values-pr.yaml
          helm upgrade -f ./charts/traction/values.yaml -f ./charts/traction/values-pr.yaml pr-${{ github.event.number }}-traction ./charts/traction --install --wait

      - name: Run Showcase PR Helm
        run: |
          yq eval '.global.fullnameOverride = "pr-${{ github.event.number }}-showcase"' -i ./charts/showcase/values-pr.yaml
          yq eval '.postgresql.fullnameOverride = "pr-${{ github.event.number }}-showcase"' -i ./charts/showcase/values-pr.yaml
          yq eval '.showcase.image.tag = "${{ needs.build_showcase.outputs.image_tag }}"' -i ./charts/showcase/values-pr.yaml
          yq eval '.showcase.image.version = "${{ needs.build_showcase.outputs.image_version }}"' -i ./charts/showcase/values-pr.yaml
          yq eval '.showcase.traction_api.endpoint = "https://pr-${{ github.event.number }}-traction-api-dev.apps.silver.devops.gov.bc.ca"' -i ./charts/showcase/values-pr.yaml
          yq eval '.showcase.traction_api.secret.name = "pr-${{ github.event.number }}-traction-api"' -i ./charts/showcase/values-pr.yaml
          helm upgrade -f ./charts/showcase/values.yaml -f ./charts/showcase/values-pr.yaml pr-${{ github.event.number }}-showcase ./charts/showcase --install --wait

      - uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ github.event.number }}
          body: |
            | Deployment | Resource |: Location :|
            | --- | --- | --- |
            | Traction | | 
            | | API | https://pr-${{ github.event.number }}-traction-api-dev.apps.silver.devops.gov.bc.ca |
            | | Innkeeper Swagger | https://pr-${{ github.event.number }}-traction-api-dev.apps.silver.devops.gov.bc.ca/innkeeper/docs |
            | | Tenant Swagger | https://pr-${{ github.event.number }}-traction-api-dev.apps.silver.devops.gov.bc.ca/tenant/docs |
            | Showcase | | |
            | | App | https://pr-${{ github.event.number }}-showcase-app-dev.apps.silver.devops.gov.bc.ca |
            | | Swagger | https://pr-${{ github.event.number }}-showcase-app-dev.apps.silver.devops.gov.bc.ca/api/docs |
            | Aca-Py | | |
            | | Admin Swagger | https://pr-${{ github.event.number }}-traction-acapy-admin-dev.apps.silver.devops.gov.bc.ca/api/doc |

